FrontOnlyEnvScript.bat
.github
.env
/Backend/.env
/Backend/contents/secret/
backendcontentfordevops/
build
/Backend/NodemailerConfig.js
/Backend/middlewares/rateLimiter.js
/Backend/users.json
/Backend/readme-back.md
.vscode
bin
.env
/Frontend/.idea
/Frontend/jenkins-file-for-release
jre
.gradle
node_modules
token-db-implementation.js
/Frontend/src/main/resources
